###############################################
# More complex functions that we may want to use
###############################################


# Tmux Convenience Wrappers
attach()
{
    tmux attach-session -t "$@";
}

list()
{
    tmux list-sessions;
}
